<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
    <title>XYZ Fitness Center Admin</title>
</head>
<body>
        <div class='navbar'>
        <div class='title'>
            <a ><img src='/imgs/FitnessCenterIMG.png'/></a>
            <a href="/"><h1> The Fitness Center</h1> </a>
        </div>       

    <p> <a href="/"> Home </a> |
        <a href="/members">Members</a> |
        <a href="/activities">Activities</a> |
        <a href="/equipment">Equipment</a> | 
        <a href="/reservations">Reservations</a></a> </p> 
        <hr />

    {{{body}}}

</body>
<hr/>
<p><em>© 2023 Abhram Medina, Chris McDaniel</em></p>
</html>